<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core">

<h:head>
    <title>Exámenes virtuales</title>
</h:head>

<h:body>
    <ui:insert name="content">Main Content</ui:insert>
    <c:if test="${sessionScope.username != null}">
        <h:form>
            <p:commandLink value="Cerrar sesión" action="#{loginJSFBean.doLogout}"/>
        </h:form>
    </c:if>
</h:body>

</html>