<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

<h:body>
    <ui:composition template="WEB-INF/templates/template.xhtml">
        <ui:define name="content">
            <h1>#{examDetailJSFBean.exam.name}</h1>
            <p:dataList value="#{examDetailJSFBean.exam.questions}" var="question">
                <h:outputText value="#{question.text}"/>
                <br/>
                <br/>
                <p:dataList value="#{question.alternatives}" var="alternative" style="margin-top: 10px;">
                    #{alternative.text} <h:outputText value="(Correcta)" rendered="#{alternative.correct}"/>
                </p:dataList>
                <br/>
            </p:dataList>
            <br/>
            <p:link value="Regresar" outcome="exams.xhtml"/>
        </ui:define>
    </ui:composition>
</h:body>

</html>
