<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">

<h:body>
    <ui:composition template="WEB-INF/templates/template.xhtml">
        <ui:define name="content">

            <!-- TODO research on this component and its attributes. -->
            <p:messages id="messages" autoUpdate="true" closable="true"/>

            <h1>Exámenes</h1>

            <p:dataList value="#{examJSFBean.allExams}" var="exam">
                <p:link value="#{exam.name}" outcome="examDetails.xhtml">
                    <f:param value="#{exam.id}" name="id"/>
                </p:link>
            </p:dataList>

            <!-- TODO look for the right way to create vertical space in JSF/PrimeFaces instead of using html line breaks and CSS margin styles. -->
            <br/>

            <p:commandButton value="Nuevo" onclick="PF('newExamPanel').show()"/>

            <br/>
            <br/>

            <p:panel visible="false" closable="true" toggleable="true" widgetVar="newExamPanel">
                <h:form>
                    <p:panelGrid columns="2">
                        <h:outputLabel value="Nombre de examen"/>
                        <h:inputText value="#{examJSFBean.exam.name}"/>
                    </p:panelGrid>
                    <br/>
                    <p:commandButton value="Añadir pregunta" actionListener="#{examJSFBean.addQuestion}"
                                     update="questionsPanel"/>
                    <br/>
                    <p:panelGrid id="questionsPanel" columns="1" style="margin-bottom: 10px;margin-top: 10px;">
                    </p:panelGrid>
                    <p:commandButton value="Registrar examen" actionListener="#{examJSFBean.save}"/>
                </h:form>
            </p:panel>

            <br/>

            <p:link value="Regresar" outcome="index.xhtml"/>

        </ui:define>
    </ui:composition>
</h:body>
</html>
