<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui" xmlns:ui="http://java.sun.com/jsf/facelets">
<h:body>
    <ui:composition template="WEB-INF/templates/template.xhtml">
        <ui:define name="content">
            <h1>Exámenes virtuales</h1>
            <p>Bienvenido administrador <strong>${username}</strong>.</p>
            <p:link value="Exámenes" outcome="exams.html"/>
        </ui:define>
    </ui:composition>
</h:body>
</html>