<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui" xmlns:ui="http://java.sun.com/jsf/facelets">
<h:body>
    <ui:composition template="WEB-INF/templates/template.xhtml">
        <ui:define name="content">
            <h1>Inicio de sesión</h1>
            <h:form>
                <p:growl id="growl"/>
                <p:panelGrid>
                    <p:row>
                        <p:column>
                            <p:outputLabel value="Usuario"/>
                        </p:column>
                        <p:column>
                            <p:inputText value="#{loginJSFBean.username}"/>
                        </p:column>
                    </p:row>

                    <p:row>
                        <p:column>
                            <p:outputLabel value="Contraseña"/>
                        </p:column>
                        <p:column>
                            <p:password value="#{loginJSFBean.password}"/>
                        </p:column>
                    </p:row>

                    <p:row>
                        <p:column colspan="2">
                            <!-- TODO manage usability considerations after pressing this button and receiving a failure, e.g. focus on username/password field. -->
                            <p:commandButton value="Ingresar" action="#{loginJSFBean.doLogin}" update="growl"/>
                        </p:column>
                    </p:row>
                </p:panelGrid>
            </h:form>
        </ui:define>
    </ui:composition>
</h:body>
</html>