<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui" xmlns:ui="http://java.sun.com/jsf/facelets"
>
<h:body>
    <ui:composition template="WEB-INF/templates/template.xhtml">
        <ui:define name="content">
            <h1>Exámenes virtuales</h1>
            <p>Bienvenido ${sessionScope.student.fullName} (código: ${sessionScope.username}).</p>
            <h2>Rendir examen</h2>
            <p:dataList value="#{studentHomeJSFBean.pendingExams}" var="exam">
                <p:link value="#{exam.name}" outcome="takeExam.xhtml">
                    <f:param value="#{exam.id}" name="id"/>
                </p:link>
            </p:dataList>
            <h2>Exámenes resueltos</h2>
            <p:dataList value="#{studentHomeJSFBean.resolvedExams}" var="resolvedExam">
                <strong><h:outputText value="#{resolvedExam.exam.name}"/></strong>, <h:outputText
                    value="nota obtenida: #{resolvedExam.grade}"/>
            </p:dataList>

            <br/>
        </ui:define>
    </ui:composition>
</h:body>
</html>