<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui" xmlns:f="http://java.sun.com/jsf/core">

<h:body>
    <ui:composition template="WEB-INF/templates/template.xhtml">
        <ui:define name="content">
            <p:messages id="messages" autoUpdate="true" closable="true"/>
            <h1>#{takeExamJSFBean.exam.name}</h1>
            <h:form>
                <p:dataList value="#{takeExamJSFBean.questionsAndChoosenAlternativeId.entrySet()}" var="question">
                    <h:outputText value="#{question.key.text }"/>

                    <br/>

                    <p:selectOneRadio value="#{takeExamJSFBean.questionsAndChoosenAlternativeId[question.key]}" rendered="#{!question.key.multipleSelection}">
                        <f:selectItems value="#{question.key.alternatives}" var="q" itemLabel="#{q.text}"
                                       itemValue="#{q.id}"/>
                    </p:selectOneRadio>

                    <p:selectManyCheckbox value="#{takeExamJSFBean.questionsAndChoosenAlternativeId[question.key]}" rendered="#{question.key.multipleSelection}">
                        <f:selectItems value="#{question.key.alternatives}" var="q" itemLabel="#{q.text}"
                                       itemValue="#{q.id}"/>
                    </p:selectManyCheckbox>

                    <br/>
                </p:dataList>
                <br/>
                <p:commandButton value="Enviar" actionListener="#{takeExamJSFBean.submitAnswers}"/>
            </h:form>
            <br/>
            <p:link value="Regresar" outcome="studentHome.xhtml"/>
        </ui:define>
    </ui:composition>
</h:body>

</html>
